<!DOCTYPE html>
<html>
<head>
	<title>Urban Yoga</title>
	<link rel='shortcut icon' type='image/x-icon' href='../assets/favicon.ico' />
	<link rel="stylesheet" type="text/css" href="http://cdn.foundation5.zurb.com/foundation.css">
	<link rel="stylesheet" type="text/css" href="../styles/main.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
	<!-- NAVBAR -->
	<nav class="top-bar">
		<div class="logo">
			<a href="/"><img src="../assets/logo.png"></a>
		</div>
		<ul class="nav-tabs tabs right" data-tab>
			<li id="dashboard" class="tab-title active">
				<a href="#dashboard">Dashboard</a>
			</li>
			<li class="tab-title">
				<a href="#signIn">Sign In</a>
			</li>
			<li class="tab-title">
				<a href="#classes">Classes</a>
			</li>
			<li class="tab-title">
				<a href="#workshops">Workshops</a>
			</li>
			<li class="tab-title">
				<a href="#appointments">Appointments</a>
			</li>
			<li class="tab-title">
				<a href="#clientHome">Client Home</a>
			</li>
			<li class="tab-title">
				<a href="#retail">Retail</a>
			</li>
		</ul>
	</nav>
	<!-- contents of tabs -->
	<div class="tabs-content">
		<div class="content active" id="dashboard">
			<a class="item">Dashboard</a>
			<a class="item active">Business Overview</a>
			<a class="item">Schedule</a>
			<a class="item">Reports</a>
		</div>
		<div class="content" id="signIn">
			<a class="item">Sign In</a>
		</div>
		<div class="content" id="classes">
			<a class="item">Classes</a>
		</div>
		<div class="content" id="workshops">
			<a class="item">Workshops</a>
		</div>
		<div class="content" id="appointments">
			<a class="item">Appointments</a>
		</div>
		<div class="content" id="clientHome">
			<a class="item">Client Home</a>
		</div>
		<div class="content" id="retail">
			<a class="item">Retail</a>
		</div>
	</div>
	<!-- MAIN CONTENT -->
	<section class="main">
		<div class="PROGRAMS-SECTION">
			<!-- NEW PROGRAM -->
			<div class="new-program-section small-12 medium-2 columns center">
				<button class="add new-program-button small-12"><img src="../assets/plus_icon.png"></button>
				<label class="new-program-label-label">New Program</label>
			</div>
			<!-- ALL PROGRAMS -->
			<div class="index-programs-section small-12 medium-10 columns right">
				<!-- FORM SHOWS UP HERE -->
				<form id="newProgramForm" class="program new-program-form hidden">
					<input type="hidden" name="ProgramId" value="105">
					<div class="program-header row">
						<div class="small-12 columns">
							<div id="formTitle" class="program-name">New Program</div>
						</div>
					</div>
					<div class="row">
						<div class="small-12 columns">
							<label>Program Type
							  <select name="program-type">
							    <option value="" disabled selected>Select a type</option>
							    <option value="count-series">Count Series</option>
							    <option value="time-series">Time Series</option>
							    <option value="membership">Membership</option>
							  </select>
							</label>
						</div>
					</div>
					<div class="row">
						<div class="small-12 columns">
							<label for="name">Name
							  <input name="Name" id="newProgramName" type="text" placeholder="Yoga Class" />
							</label>
						</div>
					</div>
					<div class="row">
						<div class="top small-12 columns center">
							<label>Allow Online Scheduling</label>
							<div class="switch">
							  <input name="online-scheduling" id="allow-online-scheduling" type="checkbox">
							  <label for="allow-online-scheduling"></label>
							  <div class="online-scheduling-status small-8 columns right">
							  	<span id="onlineSchedulingStatus" class="text-muted">Off</span>
							  </div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="small-12 columns center">
							<label>Default Capacity
							<input name="capacity" type="number"/>
							</label>
						</div>
					</div>
					<div class="row">
						<div class="top small-12 columns center">
						  <label>Tabs this program is on:</label>
							<div class="row">
								<div class="small-12 columns">
								  <input name="classes" id="classes" type="checkbox"><label for="classes">classes</label>
								  <input name="appointments" id="appointments" type="checkbox"><label for="appointments">appointments</label>
								</div>
							</div>
							<div class="row">
								<div class="small-12 columns">
								  <input name="workshops" id="workshops" type="checkbox"><label for="workshops">workshops</label>
								  <input name="outside" id="outside" type="checkbox"><label for="outside">outside</label>
								 </div>
							 </div>
							 <div class="row">
							 	<div class="small-12 columns">
								  <input name="inside" id="inside" type="checkbox"><label for="inside">inside</label>
								  <input name="gym" id="gym" type="checkbox"><label for="gym">gym</label>
							  </div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="small-12 columns">
							<button id="submitProgram" class="submit new-program-button" role="button" aria-label="submit" href="#">Submit</button>
						</div>
					</div>
				</form>
				<!-- /FORM -->
				<!-- PROGRAM 1 -->
				<div class="program">
					<div class="top small-12 columns">
						<div class="program-header row"><span class="program-name">Yoga Classes</span><i class="edit"></i></div>
						<div class="program-sales-graph row">
							<div class="small-12 columns">
								<div class="row text-muted">Sales by month</div>
								<div class="row"><img src="../assets/graph.png"></div>
							</div>
						</div>
					</div>
					<div class="program-sales-details top row">
						<table class="table">
							<thead class="table">
								<tr>
									<th class="table text-tiny text-muted">Total Monthly</th>
									<th class="table text-tiny text-muted">Current</th>
									<th class="table text-tiny text-muted">1-Year</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="table td text-muted">Sales</td>
									<td class="table td">$23,483</td>
									<td class="table td"><img src="../assets/spark_line.png"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<ul class="pricing-option-details accordion more" data-accordion>
						<li class="accordion-navigation">
							<div id="program1" class="content">
								 <table class="table">
									<thead class="table">
										<tr>
											<th class="text-muted">Price Name</th>
											<th class="text-tiny text-muted">Current</th>
											<th class="text-tiny text-muted">1-Year</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Monthly Unlimited</td>
											<td>$4,260</td>
											<td rowspan="7" class="spark-lines"></td>
										</tr>
										<tr>
											<td>Student 1 Month</td>
											<td>$1,750</td>
										</tr>
										<tr>
											<td>Single Visit</td>
											<td>$560</td>
										</tr>
										<tr>
											<td>10 Class Pass</td>
											<td>$475</td>
										</tr>
										<tr>
											<td>Student Single Visit</td>
											<td>$445</td>
										</tr>
										<tr>
											<td>20 Class Pass</td>
											<td>$230</td>
										</tr>
										<tr>
											<td>5 Class Pass</td>
											<td>$520</td>
										</tr>
									</tbody>
								</table>
							</div>
							<a id="moreProgram1" href="#program1">more</a>
						</li>
					</ul>
				</div>
					<!-- PROGRAM 2 -->
				<div class="program">
					<div class="top small-12 columns">
						<div class="program-header row"><span class="program-name">Yoga Privates</span><i class="edit"></i></div>
						<div class="program-sales-graph row">
							<div class="small-12 columns">
								<div class="row text-muted">Sales by month</div>
								<div class="row"><img src="../assets/graph.png"></div>
							</div>
						</div>
					</div>
					<div class="program-sales-details top row">
						<table class="table">
							<thead class="table">
								<tr>
									<th class="table text-tiny text-muted">Total Monthly</th>
									<th class="table text-tiny text-muted">Current</th>
									<th class="table text-tiny text-muted">1-Year</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="table td text-muted">Sales</td>
									<td class="table td">$23,483</td>
									<td class="table td"><img src="../assets/spark_line.png"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<ul class="pricing-option-details accordion more" data-accordion>
						<li class="accordion-navigation">
							<div id="program2" class="content">
								 <table class="table">
									<thead class="table">
										<tr>
											<th class="text-muted">Price Name</th>
											<th class="text-tiny text-muted">Current</th>
											<th class="text-tiny text-muted">1-Year</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Monthly Unlimited</td>
											<td>$4,260</td>
											<td rowspan="7" class="spark-lines"></td>
										</tr>
										<tr>
											<td>Student 1 Month</td>
											<td>$1,750</td>
										</tr>
										<tr>
											<td>Single Visit</td>
											<td>$560</td>
										</tr>
										<tr>
											<td>10 Class Pass</td>
											<td>$475</td>
										</tr>
										<tr>
											<td>Student Single Visit</td>
											<td>$445</td>
										</tr>
										<tr>
											<td>20 Class Pass</td>
											<td>$230</td>
										</tr>
										<tr>
											<td>5 Class Pass</td>
											<td>$520</td>
										</tr>
									</tbody>
								</table>
							</div>
							<a id="moreProgram2" href="#program2">more</a>
						</li>
					</ul>
				</div>
					<!-- PROGRAM 3 -->
				<div class="program">
					<div class="top small-12 columns">
						<div class="program-header row"><span class="program-name">Yoga Duets</span><i class="edit"></i></div>
						<div class="program-sales-graph row">
							<div class="small-12 columns">
								<div class="row text-muted">Sales by month</div>
								<div class="row"><img src="../assets/graph.png"></div>
							</div>
						</div>
					</div>
					<div class="program-sales-details top row">
						<table class="table">
							<thead class="table">
								<tr>
									<th class="table text-tiny text-muted">Total Monthly</th>
									<th class="table text-tiny text-muted">Current</th>
									<th class="table text-tiny text-muted">1-Year</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="table td text-muted">Sales</td>
									<td class="table td">$23,483</td>
									<td class="table td"><img src="../assets/spark_line.png"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<ul class="pricing-option-details accordion more" data-accordion>
						<li class="accordion-navigation">
							<div id="program3" class="content">
								 <table class="table">
									<thead class="table">
										<tr>
											<th class="text-muted">Price Name</th>
											<th class="text-tiny text-muted">Current</th>
											<th class="text-tiny text-muted">1-Year</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Monthly Unlimited</td>
											<td>$4,260</td>
											<td rowspan="7" class="spark-lines"></td>
										</tr>
										<tr>
											<td>Student 1 Month</td>
											<td>$1,750</td>
										</tr>
										<tr>
											<td>Single Visit</td>
											<td>$560</td>
										</tr>
										<tr>
											<td>10 Class Pass</td>
											<td>$475</td>
										</tr>
										<tr>
											<td>Student Single Visit</td>
											<td>$445</td>
										</tr>
										<tr>
											<td>20 Class Pass</td>
											<td>$230</td>
										</tr>
										<tr>
											<td>5 Class Pass</td>
											<td>$520</td>
										</tr>
									</tbody>
								</table>
							</div>
							<a id="moreProgram3" href="#program3">more</a>
						</li>
					</ul>
				</div>
				<div class="summary-section">
					<table class="table">
						<thead class="table">
							<tr>
								<th>All Programs</th>
								<th>Monthly Sales</th>
								<th>Monthly Attendence</th>
							</tr>
						</thead>
						<tbody>
							<tr class="table">
								<td>Open Practice<a class="row text-muted" href="#">more</a></td>
								<td>$572.00</td>
								<td>276 views</td>
							</tr>
							<tr class="table">
								<td>Yoga Videos<a class="row text-muted" href="#">more</a></td>
								<td>$391.32</td>
								<td>82 views</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</section>
	<footer></footer>

	<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	<script type="text/javascript" src="http://cdn.foundation5.zurb.com/foundation.js"></script>
	<script type="text/javascript" src="../scripts/scripts.js"></script>
	<!--
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.0/less.min.js"></script>
	-->

</body>
</html>