<!DOCTYPE html>
<html>
<head>
	<title>Urban Yoga</title>
	<link rel="stylesheet" type="text/css" href="http://cdn.foundation5.zurb.com/foundation.css">
	<link rel="stylesheet" type="text/css" href="../styles/main.css">
</head>
<body>
	<!-- NAVBAR -->
	<nav class="top-bar">
		<div class="logo">
			<a href="/"><img src="../assets/logo.png"></a>
		</div>
		<ul class="nav-tabs tabs right" data-tab>
			<li class="tab-title active">
				<a href="#dashboard">Dashboard</a>
			</li>
			<li class="tab-title">
				<a href="#signIn">Sign In</a>
			</li>
			<li class="tab-title">
				<a href="#classes">Classes</a>
			</li>
			<li class="tab-title">
				<a href="#workshops">Workshops</a>
			</li>
			<li class="tab-title">
				<a href="#appointments">Appointments</a>
			</li>
			<li class="tab-title">
				<a href="#clientHome">Client Home</a>
			</li>
			<li class="tab-title">
				<a href="#retail">Retail</a>
			</li>
		</ul>
		<!-- contents of tabs -->
		<div class="tabs-content row">
			<div class="content active" id="dashboard">
				<a class="item">Dashboard</a>
				<a class="item active">Business Overview</a>
				<a class="item">Schedule</a>
				<a class="item">Reports</a>
			</div>
			<div class="content" id="signIn">
				<a class="item">Sign In</a>
			</div>
			<div class="content" id="classes">
				<a class="item">Classes</a>
			</div>
			<div class="content" id="workshops">
				<a class="item">Workshops</a>
			</div>
			<div class="content" id="appointments">
				<a class="item">Appointments</a>
			</div>
			<div class="content" id="clientHome">
				<a class="item">Client Home</a>
			</div>
			<div class="content" id="retail">
				<a class="item">Retail</a>
			</div>
		</div>
	</nav>
	<!-- MAIN CONTENT -->
	<section class="main">
		<div class="PROGRAMS-SECTION">
			<!-- NEW PROGRAM -->
			<div class="new-program-section small-2 columns center">
				<button class="add new-program-button"><img src="../assets/plus_icon.png"></button>
				<label class="new-program-label-label">New Program</label>
			</div>
			<!-- ALL PROGRAMS -->
			<div class="index-programs-section small-10 columns right">
			<!-- FORM SHOWS UP HERE -->

			<form class="program new-program-form">
				<div class="row">
					<div class="small-12 columns">
						<label>Program Type
						  <select>
						    <option value="count-series">Count Series</option>
						    <option value="time-series">Time Series</option>
						    <option value="membership">Membership</option>
						  </select>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">
						<label>Name
						  <input type="text" placeholder="Yoga Class" />
						</label>
					</div>
				</div>
				<div class="row">
					<div class="top small-12 columns center">
						<label>Allow Online Scheduling</label>
						<div class="switch">
						  <input id="allow-online-scheduling" type="checkbox">
						  <label for="allow-online-scheduling"></label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns center">
						<label>Default Capacity
						<input type="number"/>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="top small-12 columns center">
					  <label>Tabs this program is on</label>
						<div class="row">
						  <input id="classes" type="checkbox"><label for="classes">classes</label>
						  <input id="appointments" type="checkbox"><label for="appointments">appointments</label>
						</div>
						<div class="row">
						  <input id="workshops" type="checkbox"><label for="workshops">workshops</label>
						  <input id="outside" type="checkbox"><label for="outside">outside</label>
						 </div>
						 <div class="row">
						  <input id="inside" type="checkbox"><label for="inside">inside</label>
						  <input id="gym" type="checkbox"><label for="gym">gym</label>
						 </div>
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">
						<button class="submit new-program-button" role="button" aria-label="submit" href="#">Submit</button>
					</div>
				</div>
			</form>

			<!-- /FORM -->
				<div class="program">
					<div class="top small-12 columns">
						<div class="program-header row"><span class="program-name">Yoga Duets</span><i class="edit"></i></div>
						<div class="program-sales-graph row">
							<div class="small-12 columns">
								<div class="row quiet">Sales by month</div>
								<div class="row"><img src="../assets/graph.png"></div>
							</div>
						</div>
					</div>
					<div class="program-sales-details top row">
						<table class="table">
							<thead class="table">
								<tr>
									<th class="table really quiet">Total Monthly</th>
									<th class="table really quiet">Current</th>
									<th class="table really quiet">1-Year</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="table td quiet">Sales</td>
									<td class="table td">$23,483</td>
									<td class="table td"><img src="../assets/spark_line.png"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<ul class="accordion more" data-accordion>
						<li class="accordion-navigation">
							<div id="program1" class="content">
								 <table class="table">
									<thead class="table">
										<tr>
											<th>Price Name</th>
											<th>Current</th>
											<th>1-Year</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>{{name}}</td>
											<td>{{sales}}</td>
											<td>{{graphs}}</td>
										</tr>
									</tbody>
								</table>
							</div>
							<a id="moreProgram1" href="#program1">more</a>
						</li>
					</ul>
				</div>
				<div class="summary-section">
					<table class="table">
						<thead class="table">
							<tr>
								<th>All Programs</th>
								<th>Monthly Sales</th>
								<th>Monthly Attendence</th>
							</tr>
						</thead>
						<tbody>
							<tr class="table">
								<td>Open Practice<a class="row quiet" href="#">more</a></td>
								<td>$572.00</td>
								<td>276 views</td>
							</tr>
							<tr class="table">
								<td>Yoga Videos<a class="row quiet" href="#">more</a></td>
								<td>$391.32</td>
								<td>82 views</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</section>
	<footer></footer>

	<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	<script type="text/javascript" src="http://cdn.foundation5.zurb.com/foundation.js"></script>
	<script type="text/javascript" src="../scripts/scripts.js"></script>
	<!--
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.0/less.min.js"></script>
	-->

</body>
</html>