<!DOCTYPE html>
<html>
<head>
	<title>Urban Yoga</title>
	<link rel="stylesheet" type="text/css" href="http://cdn.foundation5.zurb.com/foundation.css">
	<link rel="stylesheet" type="text/css" href="../styles/main.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	<script type="text/javascript" src="http://cdn.foundation5.zurb.com/foundation.js"></script>
	<!--
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.0/less.min.js"></script>
	-->
</head>
<body>
	<!-- NAVBAR -->
	<nav class="top-bar">
		<div class="logo">
			<a href="/"><img src="../assets/logo.png"></a>
		</div>
		<ul class="nav-tabs tabs right">
			<li class="tab-title active"><a href="#">Dashboard</a>
			</li>
			<li class="tab-title"><a href="#">Sign In</a></li>
			<li class="tab-title"><a href="#">Classes</a></li>
			<li class="tab-title"><a href="#">Workshops</a></li>
			<li class="tab-title"><a href="#">Appointments</a></li>
			<li class="tab-title"><a href="#">Client Home</a></li>
			<li class="tab-title"><a href="#">Retail</a></li>
		</ul>
		<ul class="tab-content row">
			<li><a href="#">Dashboard</a></li>
			<li><a class="active" href="#">Business Overview</a></li>
			<li><a href="#">Schedule</a></li>
			<li><a href="#">Reports</a></li>
		</ul>
	</nav>
	<!-- MAIN CONTENT -->
	<section class="main">
		<div class="PROGRAMS-SECTION">
			<div class="new-program-section small-2 columns left">
				<button id="new-program-button" class="success"><img src="../assets/plus_icon.png"></button>
				<span>New Program</span>
			</div>
			<div class="index-programs-section small-10 columns right">
				<div class="small-4 columns">
					<div class="row">{{program.name}} <span><img src="../assets/pencil_icons.png"></span></div>
					<div class="row quiet">Sales by month</div>
					<div class="row">{{year helper graph}}</div>
					<div class="row"></div>
					<div class="more">
						<table>
							<thead>
								<tr>
									<th>Price Name</th>
									<th>Current</th>
									<th>1-Year</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>{{name}}</td>
									<td>{{sales}}</td>
									<td>{{graphs}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="summarize-programs-section row">
			<div class="small-12 columns">
				<table>
					<thead>
						<tr>
							<th>All Programs</th>
							<th>Monthly Sales</th>
							<th>Monthly Attendence</th>
						</tr>
						<tbody>
							<tr>
								<td>Open Practice<span>more</span></td>
								<td>$572.00</td>
								<td>276 views</td>
							</tr>
							<tr>
								<th>Yoga Videos<span>more</span></th>
								<th>$391.32</th>
								<th>82 views</th>
							</tr>
						</tbody>
					</thead>
				</table>
			</div>
		</div>
	</section>
	<footer></footer>

</body>
</html>