/* GLOBALLY SHARED STYLES */
body {
	background-color: #f4f4ee;
}

/* Just being cute - change to more descriptive */
.really {
	font-size: 0.8rem
}

.quiet {
	color: #bebeb5;
}

/* fighting off Foundation's table styles */
.table {
	background-color: transparent;
	border: none;
}

table {
	width: 100%;
	margin: 0.5rem 0;
}

table thead tr th {
	font-weight: 400;
}

table tr:nth-of-type(even) {
	background-color: transparent;
}

ul {
	margin: 0;
}

table tr td,
table thead tr th {
	vertical-align: top;
	padding: inherit;
}

button {
	position: relative;
	text-align:center;
	color:#FFF;
	text-decoration:none;
	display: block;
}

input,
select {
	border-radius: 4px;
}

label {
	color: #b4b4aa;
}

/*  NAVIGATION STYLES  */

.top-bar {
	height: 65px;
	background-color: #edf7f3;
	min-width: 1100px;
}

.logo {
	display: inline-block;
	margin: 5px 100px 10px 14px;
}

.top-bar ul{
	display: inline-block;
}

.nav-tabs {
	padding-top: 22px;
}

.tabs .tab-title {
	top: 1px;
	display: inline-block;
	background: linear-gradient(0deg, #eff2f1, #fff) no-repeat;
}

.tabs .tab-title a {
	padding: 10px 24px;
	font-family: "Gotham";
	font-size: 0.87rem;
	font-weight: 500;
	color: #709582;
	background-color: rgba(100,100,100, 0);
	border-top: 1px solid #d4e2e6;
	border-left: 1px solid #dddede;
	border-bottom: 1px solid #cbcfd1;
}

.tabs .tab-title.active {
	top: -1px;
	height: 42px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.tabs .tab-title.active a {
	padding: 10.5px 30px;
	border-top: 1px solid #a7b3b7;
	border-left: 1px solid #a7b3b7;
	border-right:1px solid #a7b3b7;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-weight: bold;
	color: #37444e;
	border-bottom: 3px solid white;
}

.tabs .tab-title.active a:before {
	content:"";
	background-color: #fff;
}

.tabs-content {
	width: 100%;
	background-color: white;
	display: inline-block;
	padding-left: 8%;
	border-top: 1px solid #cbe3d7;
	border-bottom: 1px solid #d8d8ce;
	-webkit-box-shadow: 0 0 1px 0 rgba(0, 50, 50, 0.21);
		 -moz-box-shadow: 0 0 1px 0 rgba(0, 50, 50, 0.21);
		 			box-shadow: 0 0 1px 0 rgba(0, 50, 50, 0.21);
}

.tabs-content:before {
	border-top: 1px solid #cbcfd1;
	z-index: 1;
}

.tabs-content .item {
	display: inline;
	padding-right: 30px;
	font-family: Helvetica;
	font-size: 1rem;
	font-weight: 400;
	color: #777;
}

.tabs-content .item.active{
	color: #5e5e5e;
	font-weight: 500;
}

.tabs-content .item:hover {
	color: #999;
	font-weight: bold;
}

/* MAIN CONTENT STYLES  */

.main {
	height: 100%;
	padding-left: 8%;
}

/* NEW PROGRAM STYLES */

.new-program-section {
	margin-bottom: 15px;
}

.add {
	width:75px;
	height:67px;
	margin-bottom: 5px;
	padding: 20px;
}

.submit {
	width:100%;
	height:30px;
	margin-bottom: 5px;
	padding: 5px;
}

.new-program-button {
	background: #dfffc2;
	border: 1px solid #91b57c;
	background-image: -webkit-linear-gradient(top, #bcd89e, #9ac084);
	-webkit-border-radius: 4px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset,
							0 -1px 0 rgba(255, 255, 255, .1) inset,
							0 0.2px 0 #dbdbd2,
							0 1px 1px rgba(0, 0, 0, .5);
}

.new-program-button:active {
	top: 1px;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset,
											0 -1px 0 rgba(255, 255, 255, .1) inset;
}

.new-program-button:hover {
	background: #dfffc2;
	background-image:-webkit-linear-gradient(top, #9ac084, #bcd89e);
}

.new-program-button-label {
	max-width: 76px;
	font-size: 0.75rem;
	font-weight: 500;
	text-align: center;
}

/* NEW PROGRAM FORM STYLES */

.hidden {
	display: none;
}

.new-program-form {
	padding-bottom: 14px;
}

.switch {
	margin: 1rem 0;
}

.switch input + label {
	border-radius: 4px;
}

.switch input:checked + label {
	background-color: #ccbcdd;
}

.online-scheduling-status {
	padding: 5px 15px;
}

/* PROGRAM MODULE STYLES */

.program {
	float: left;
	margin: 0 22px 42px 0;
	width: 245px;
	background-color: #fff;
	border-radius: 4px;
	-webkit-box-shadow: 0px 3px 3px -1px rgba(50, 50, 50, 0.3);
	   -moz-box-shadow: 0px 3px 3px -1px rgba(50, 50, 50, 0.3);
	        box-shadow: 0px 3px 3px -1px rgba(50, 50, 50, 0.3);
}

.program .top {
	padding: 0 17px;
}

.program .program-header {
	padding: 17px 0;
	vertical-align: middle;
}

.edit {
	width: 22px;
	height: 20px;
	overflow: hidden;
	float: right;
	background: url("../assets/pencil_icons.png") no-repeat top;
	background-color: #fcfcfa;
	border: 1px solid #f4f4f1;
	border-radius: 2px;
}

.edit:hover {
	background: url("../assets/pencil_icons.png") no-repeat bottom;
}

.program .program-header .program-name {
	font-weight: bold;
}

.program .program-sales-details {
	background-color: #fbfbf6;
	display: inline-block;
	border-top: 1px solid #f5f5eb;
	border-bottom: 1px solid #f1f1f0;
}

/* hack to fight off foundation */
.accordion .accordion-navigation > a {
	padding: 5px 17px;
	background-color: transparent;
	float: left;
	font-weight: 400;
	font-size: 0.8rem;
}

.accordion .accordion-navigation > a:hover {
	background-color: transparent;
}

.accordion .accordion-navigation.active > a {
	background-color: transparent;
}

.spark-lines {
	background: url("../assets/spark_lines.png") no-repeat;
	background-size: cover;
	width: 3.8rem;
}

.accordion table tr td {
	font-size: 0.7rem;
	color: #777;
}

/* PROGRAM SUMMARY STYLES */

.summary-section {
	margin-top: 42px;
}

.summary-section table {
	border-collapse: collapse;
}

.summary-section th:first-of-type {
	font-size: 1rem;
	width: 130px;
}

.summary-section th:nth-of-type(2) {
	width: 110px;
}

.summary-section th {
	border-bottom: 1.5px solid #e1e1d8;
	padding-bottom: 5px;
	color: #92927c;
	font-size: 0.8rem;
}

.summary-section td {
	padding-top: 20px;
	font-size: 1rem;
}
