.PROGRAMS-SECTION {
	padding-top: 120px; /* temporary */
}

/* GLOBALLY SHARED STYLES */

/* Just being cute - change to more descriptive */
.really {
	font-size: 0.7rem
}

.quiet {
	color: #bebeb5;
}

.table {
	background-color: transparent;
	border: none;
}

table {
	width: 100%;
	margin: 0.5rem 0;
}

table thead tr th {
	font-weight: 400;
}

table tr:nth-of-type(even) {
	background-color: transparent;
}

ul {
	margin: 0;
}

table tr td,
table thead tr th {
	padding: 0;
}

button {
	position: relative;
	text-align:center;
	color:#FFF;
	text-decoration:none;
	display: block;
}

/*  NAVIGATION STYLES  */

.top-bar {
	height: 65px;
	background-color: #edf7f3;
	min-width: 1100px;
}

.logo {
	display: inline-block;
	margin: 5px 100px 10px 14px;
}

.top-bar ul{
	display: inline-block;
}

.nav-tabs {
	padding-top: 22px;
}

.tabs .tab-title {
	top: 1px;
	display: inline-block;
	background: linear-gradient(0deg, #eff2f1, #fff) no-repeat;
}

.tabs .tab-title a {
	padding: 10px 24px;
	font-family: "Gotham";
	font-size: 0.87rem;
	font-weight: 500;
	color: #709582;
	background-color: rgba(100,100,100, 0);
	border-top: 1px solid #d4e2e6;
	border-left: 1px solid #dddede;
	border-bottom: 1px solid #cbcfd1;
}

.tabs .tab-title.active {
	top: -1px;
	height: 42px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.tabs .tab-title.active a {
	padding: 10.5px 30px;
	border-top: 1px solid #a7b3b7;
	border-left: 1px solid #a7b3b7;
	border-right:1px solid #a7b3b7;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-weight: bold;
	color: #37444e;
	border-bottom: 3px solid white;
}

.tabs .tab-title.active a:before {
	content:"";
	background-color: #fff;
}

.tab-content {
	background-color: white;
	display: inline-block;
	padding: 14px 8%;
	border-top: 1px solid #cbe3d7;
	border-bottom: 1px solid #d8d8ce;
	-webkit-box-shadow: 0 0 1px 0 rgba(0, 50, 50, 0.21);
		 -moz-box-shadow: 0 0 1px 0 rgba(0, 50, 50, 0.21);
		 			box-shadow: 0 0 1px 0 rgba(0, 50, 50, 0.21);
}

.tab-content:before {
	border-top: 1px solid #cbcfd1;
	z-index: 1;
}

.tab-content li {
	display: inline;
	padding-right: 30px;
}

.tab-content li a {
	font-family: Helvetica;
	font-size: 1rem;
	font-weight: 400;
	color: #777;
}

.tab-content li a.active{
	color: #5e5e5e;
	font-weight: 500;
}

/* MAIN CONTENT STYLES  */

.main {
	height: 100%;
	background-color: #f4f4ee;
	padding-left: 8%;
}

.new-program-section {
}

.new-program-button {
	width: 75px;
	height: 67px;
	border-radius: 4px;
	padding: 12%;
}

/* PROGRAM MODULE STYLES */

.program {
	width: 243px;
	background-color: #fff;
	border-radius: 5px;
	-webkit-box-shadow: 0px 4px 4px -1px rgba(50, 50, 50, 0.3);
	   -moz-box-shadow: 0px 4px 4px -1px rgba(50, 50, 50, 0.3);
	        box-shadow: 0px 4px 4px -1px rgba(50, 50, 50, 0.3);
}

.program .top {
	padding: 0 17px;
}

.program .program-header {
	padding: 17px 0;
	vertical-align: center;
}

.edit {
	width: 22px;
	height: 20px;
	overflow: hidden;
	float: right;
	background: url("../assets/pencil_icons.png") no-repeat top;
	background-color: #fcfcfa;
	border: 1px solid #f4f4f1;
	border-radius: 2px;
}

.edit:hover {
	background: url("../assets/pencil_icons.png") no-repeat bottom;
}

.program .program-header .program-name {
	font-weight: bold;
}

.program .program-sales-summary {
	background-color: #fbfbf6;
	display: inline-block;
	border-top: 1px solid #f5f5eb;
	border-bottom: 1px solid #f1f1f0;
}

.accordion .accordion-navigation > a {
	padding: 5px 17px;
	background-color: transparent;
	float: left;
	font-weight: 400;
	font-size: 0.8rem;
}

/* NEW PROGRAM MODULE STYLES */

.new-program {
	width:75px;
	height:67px;
	padding: 10%;
	background: #dfffc2;
	border:1px solid #91b57c;
	background-image:-webkit-linear-gradient(top, #bcd89e, #9ac084);
	-webkit-border-radius:5px;
	box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 0.2px 0 #dbdbd2, 0 1px 1px rgba(0, 0, 0, .5);
}

.new-program:active {
	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset;
	top:1px;
}

.new-program:hover {
	background: #dfffc2;
	background-image:-webkit-linear-gradient(top, #9ac084, #bcd89e);
}

.new-program-label {
	max-width: 76px;
	font-size: 0.75rem;
	text-align: center;
}